:root {
  /* General */
  --bg-default                  : #293D63;
  --font-color-default          : #202020;
  --font-size-default           : 18.5px;
  --gap-default                 : 2px;
  --padding-default             : 8px;

  /* Title */
  --title-col-width             : 100px;
  --title-padding-right         : 12px;

  /* Camera icons */
  --camera-icon-container-height: 40px;
  --camera-icon-container-width : 100px;

  /* Topology */
  --topology-car-border-suffix  : 2px;
  --topology-car-height         : 36px;
  --topology-row-height         : 56px;
  --topology-width              : 100px;     /* Could be set to `1fr` for equi-spaced topology */

  /* Recorder */
  --recorder-info-col           : 202px;
  --recorder-info-col-1         : 25px;      /* Total column width : 202px */
  --recorder-info-col-2         : 137px;
  --recorder-info-col-3         : 40px;
  --recorder-info-row           : 37px;      /* Total row height   : 74px */

  /* SSD */
  --ssd-info-col-1              : 84px;      /* Total column width : 202px */
  --ssd-info-col-2              : 56px;
  --ssd-info-col-3              : 22px;
  --ssd-info-col-4              : 40px;
  --ssd-info-row                : 152px;
  --ssd-info-row-1              : 38px;      /* Total row height   : 152px */
  --ssd-info-row-2              : 22px;
  --ssd-info-row-3              : 22px;
  --ssd-info-row-4              : 13px;
  --ssd-info-row-5              : 22px;
  --ssd-info-row-6              : 22px;
  --ssd-info-row-7              : 13px;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

.title {
  display: block;
  font-size: 40px;
  font-weight: bold;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

pre {
  background-color: rgba(55, 65, 81, 1);
  border-radius: 0.25rem;
  color: rgba(229, 231, 235, 1);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  overflow: scroll;
  padding: 0.5rem 0.75rem;
}

.shadow {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.rounded {
  border-radius: 1.5rem;
}

.wrapper {
  width: 100%;
}

.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgba(55, 65, 81, 1);
  width: 100%;
}

.app-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px 65px max-content;
  align-items: center;
  justify-items: start;
}

.item-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item-buttons {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.item-matrix-content {
  grid-column: 1 / 2;
  grid-row: 3 / auto;
}

.home-button-grid {
  display: grid;
  grid-template-columns: auto auto max-content;
  grid-template-rows: 65px;
  column-gap: 8px;
  align-items: center;
}

.item-button-add {
  grid-column: 1 / 2;
}

.item-button-refresh {
  grid-column: 2 / 3;
}

.matrix-content-grid {
  display: grid;
  grid-template-columns: 50px repeat(3, 50px) repeat(7, 50px) repeat(9, 119px);
  align-items: center;
  justify-items: center;
  border: 1px solid #595959;
  border-radius: 6px;
  font-size: 16px;
}

.item-matrix-no-content {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.item-maxtrix-id {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item-maxtrix-n {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.item-maxtrix {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
