<body>
  <h2>Create Matrixes</h2>

  <form [formGroup]="matrixForm">
    <input
      type="text"
      name="patient_name"
      placeholder="name"
      formControlName="center_name"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="GSSN_COMPANYID"
      formControlName="GSSN_COMPANYID"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="GSSN_OUTLETID"
      formControlName="GSSN_OUTLETID"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="vd_name"
      formControlName="vd_name"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="vfnr"
      formControlName="vfnr"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="vfnr_hb"
      formControlName="vfnr_hb"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="mode"
      formControlName="mode"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="sortorder"
      formControlName="sortorder"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="brand"
      formControlName="brand"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="status"
      formControlName="status"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="shortcut"
      formControlName="shortcut"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="company_name"
      formControlName="company_name"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="branch"
      formControlName="branch"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="street"
      formControlName="street"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="zip"
      formControlName="zip"
    />
    <br />

    <input
      type="text"
      name="patient_age"
      placeholder="place"
      formControlName="place"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="region"
      formControlName="region"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="phone"
      formControlName="phone"
    />
    <br />
    <input
      type="text"
      name="patient_age"
      placeholder="website"
      formControlName="website"
    />
    <br />
    <br />
    <button class="button" (click)="createMatrix()">Create</button>
  </form>
</body>
